* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
      padding: 0 20px;
  }
  header{
      height: 500px;
      width: 100%;
      background-image: url("about-bg.jpg");
      color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
  }
  .navbar_list {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  .clean {
      width: 600px;
      margin: 100px auto;
      text-align: center;
  }
  
  body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    padding: 20px; 
}


.section{
   
    margin-bottom: 20px; 
    padding: 10px; 
    background-color:white; 
    border-radius: 8px; 
    
    justify-content: center;
    margin:0 auto;
    height: 150px;
    width: 800px;
    font-size: 20px
}
.icons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #6c757d;
  }
  .section_all{
    margin-top: 70px;
   
  }